label.textinput-seo-local,label.selectinput {
    float: left;
    width: 300px;
    margin: 5px 0;
    padding: 3px 0;	
}
.seo-local-text{
    color: #515151;
    height: 30px;
    padding: 10px 0px 10px 10px;
    font-size: 14px;
    width: 400px;
    max-width: 600px;
} 
input[type="checkbox"],select{
    margin: 8px 0 0 0;
}
.loca-seo-heading{
    margin: 2% 0 1% 0;
}
